@font-face{
	font-family: Firasans;
	font-display: swap;
	src: url("../fonts/Firasansbold.woff2") format("woff2"), url("../fonts/Firasansbold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Firasans;
	font-display: swap;
	src: url("../fonts/Firasanslight.woff2") format("woff2"), url("../fonts/Firasanslight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: Firasans;
	font-display: swap;
	src: url("../fonts/Firasansmedium.woff2") format("woff2"), url("../fonts/Firasansmedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: Firasans;
	font-display: swap;
	src: url("../fonts/Firasansregular.woff2") format("woff2"), url("../fonts/Firasansregular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro_medium.woff2") format("woff2"), url("../fonts/gothampro_medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro_bold.woff2") format("woff2"), url("../fonts/gothampro_bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
