@import "fonts.scss";
@import "reset.scss";
@import "header.scss";

body{
   font-family: Firasans;
   font-weight: 300;
}
.container{
   max-width: 1440px;
   margin: 0 auto;
   padding-left: 9%;
   padding-right: 9%;
}


